GROQ_API_KEY=votre_cle_groq
TAVILY_API_KEY=votre_cle_tavily
GEMINI_API_KEY=votre_cle_gemini
GROQ_MODEL=llama-3.1-8b-instant
EMBEDDING_MODEL=models/gemini-embedding-001
SECRET_KEY=votre_cle_secrete_jwt
ANONYMIZED_TELEMETRY=False
